body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.eto{
  background-color: #d05c62 !important
}
#eto{
  background-color: #d05c62 !important
}



html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: white !important;
}
.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f3671f;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: white;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #d05c62 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #d05c62 !important;
  color: white !important;
  border: 10 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 30px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #d05c62 !important;
}
.log{
  margin-top: 100px !important
}
.imag{
  width: 100%;
  height: 100%;
}
.card-text{
  font-family: Verdana !important;
 
  color:black !important;
  font-size: 20px !important;
}


.navbar-inverse
{
    background:#d05c62;
    border-bottom-color: #d05c62;
}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>.dropdown>a .caret
{
    color: #fff;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus,
.navbar-nav>li>.dropdown-menu
{
    background:#d05c62;
}
.nav-pills>li>a
{
    color: #d05c62;
}

.nav>li>a:hover, .nav>li>a:focus
{
    background-color: #EEEEEE;
}
.btn-primary{
  background-color: #f3671f !important;
}
.sac{
  color:white !important;
  font-size: 30px;
  height:  160px !important;
  width: 100px;
  background-color: #f3671f !important;
  border-radius: 10px;
  text-decoration:none;
}
#foot{
  background-color:#d05c62 !important; 
  margin-top: 300px !important;
}
.dropdown-toggle{
  font-size: 30px;
}
#anarana{
  font-size: 30px;
}
#daholo{
  font-size: 30px;
}
#user{
  font-size: 40px !important;
  color: #f3671f !important;

}
.btn-primary{
  background-color: #f3671f !important;
}
#conect{
  font-size: 30px !important;
  color: #fff
}
#champ{
  height: 50px !important;
  font-size: 20px !important;
}
label{
  font-size: 20px !important;
}
.fadeIn{
 width:  100% !important
};
.sary{
  width: 80px !important;
  height: 90px !important;
}
h3{
  font-family: "Roboto" !important;
 font-weight: bold;
  color:white !important;
  font-size: 40px !important;
}

.midina{
  margin-top: 280px !important;
}
.btn{
width: 150px !important;
height: 50px !important;
font-size: 15px !important;
border-radius: 10px !important;
}
#titrebe{
  font-family: "Roboto" !important;
  font-size: 20px !important;
}
#nafafy{
  font-size: 50px !important;
  font-family: verdana;
}
.bou{
  height: 80px;
  width: 150px;
  font-size: 20px;
  border-radius: 10px !important;
  background-color: #f3671f
}
.slider{
  margin-top: -30px;
}
#metykosa{
  background-color: #f3671f !important;
  width: 50px;
  line-height: 27px;
}
.carde{
  margin-top:20px;
}
.nom{
  color: #f3671f !important;
  font-size:60px !important;
}